<div class="jumbotron vertical-center"> <!--
                      ^--- Added class  -->
  <div class="container col-md-4 col-sm-6 login-box d-grid col-lg-3 col-10 col-xl-2">
    <img src="../../assets/images/greenLogo.png" alt="Samha Logo" class="m-auto">
    <p>SAMHA Web</p>
    <form class="form-group" [formGroup]="form" (ngSubmit)="login()">

      <mat-form-field appearance="outline" class="w-100">
        <mat-label><mat-icon>person</mat-icon> Usuário</mat-label>
        <input matInput [type]="'text'" formControlName="login" >
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label><mat-icon>lock</mat-icon> Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Esconder/Mostrar'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-card>
          <button mat-button type="submit" [disabled]="!form.valid" #sub>Entrar</button>
      </mat-card>
    </form>
  </div>
</div>
