<div class="base-padding">
  <mat-card class="col-md-12 mb-2">
    <div class="d-inline-block w-100" style="height: 30px">
      <mat-card-subtitle class="d-inline-block">
        <span>Filtro de alocações</span>
      </mat-card-subtitle>
      <div class="float-end d-inline-block">
        <dx-button
          style="border: none"
          (onClick)="filterOpened = !filterOpened"
          [icon]="filterOpened ? 'chevronup' : 'chevrondown'"
          height="30px"
        ></dx-button>
      </div>
    </div>

    <mat-card-content *ngIf="filterOpened" [@verticalInOut] class="mt-2">
      <form [formGroup]="formGroup">
        <samha-autocomplete-field
          [resource]="'curso'"
          [label]="'Curso'"
          [control]="cursoControl"
          (onChange)="onCursoChange($event)"
          (loaded)="onCursoLoaded($event)"
          (onOpened)="onCursoSelectionOpened()"></samha-autocomplete-field>


        <mat-form-field class="d-block" appearance="outline">
          <mat-label>Turma</mat-label>
          <input type="text" matInput [formControl]="turmaControl" [matAutocomplete]="auto">
          <mat-autocomplete
            (optionSelected)="onTurmaChange()"
            (opened)="onTurmaSelectOpened()"
            autoActiveFirstOption #auto="matAutocomplete"
            [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.nome}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Turno</mat-label>
          <mat-select formControlName="turno" [compareWith]="compareFunction" (selectionChange)="onTurnoChange()">
            <mat-option [value]="'Matutino'">Matutino</mat-option>
            <mat-option [value]="'Vespertino'">Vespertino</mat-option>
            <mat-option [value]="'Noturno'">Noturno</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="d-block">
          <mat-form-field appearance="outline" class="d-inline-block w-75">
            <mat-label>Ano</mat-label>
            <input matInput type="number" formControlName="ano" (change)="onAnoChange($event.target.value)" #anoInput>
          </mat-form-field>

          <mat-form-field appearance="outline" class="d-inline-block w-25">
            <mat-label>Semestre</mat-label>
            <input matInput type="number" [min]="1" [max]="2" formControlName="semestre"
                   (change)="onSemestreChange($event.target.value)" #semestreInput>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Período</mat-label>
          <input matInput type="number" [min]="1" [max]="qtPeriodos" formControlName="periodo"
                 (change)="onPeriodoChange($event.target.value)" #periodoInput>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-md-12 col-sm-6 d-flex hide-scrollbar" style="height: 100vh; overflow-x: auto">

    <mat-card-content class="d-inline-block" style="width: 15%;">
      <mat-card-subtitle>Alocações</mat-card-subtitle>

      <div class="drag-list hide-scrollbar">
        <div class="drag-border horizontal-box" style="height: 40px !important;" #element
             *ngFor="let alocacao of alocacoes"
             draggable="true"
             [ngClass]="alocacaoSelecionada?.id === alocacao?.id ? 'highlight-professor' : ''"
             (click)="selectAlocacao(alocacao)"
             (dragstart)="onListDraggerStart(alocacao)"
             (dragend)="onDragEnd($event)">
          {{alocacao.disciplina.sigla + ' - ' + getNomeEncurtadoProfessor(alocacao.professor1.nome) + ' ' + getNomeEncurtadoProfessor(alocacao.professor2?.nome)}}
        </div>
        <ng-container *ngIf="!turmaControl.value">
          <span>Nenhuma turma encontrada!</span>
        </ng-container>

        <ng-container *ngIf="!(alocacoes.length > 0) && this.turmaControl.value">
          <span>Nenhuma alocação encontrada!</span>
        </ng-container>
      </div>

      <mat-card-footer class="d-block p-3">
        <div class="mb-2 d-block">
          <div class="row">
            <div class="col-sm-8">
              <dx-button
                class="w-100 footer-button"
                stylingMode="outlined"
                icon="check"
                text="Validar"
                hint="Validar Aulas"
                (onClick)="onValidarAulasClick()"
              >
              </dx-button>
            </div>
            <div class="col-sm-4">
              <dx-button
                (onClick)="onControleQuantidadeDisciplinasClick()"
                class="w-100 footer-button"
                icon="dragvertical"
                hint="Controle de quantidade de disciplinas">
              </dx-button>
            </div>
          </div>
        </div>

        <div class="d-block">
          <div class="row">
            <div class="col-sm-8">
              <dx-button
                class="w-100 footer-button"
                icon="save"
                type="success"
                text="Salvar"
                (onClick)="onSalvarClicked()"
                [disabled]="!ofertaChanged"
              >
              </dx-button>
            </div>
            <div class="col-sm-4">
              <dx-button
                class="w-100 footer-button"
                icon="undo"
                hint="Desfazer alterações"
                (onClick)="onDesfazerAlteracoesClicked()"
                [disabled]="!ofertaChanged"
              >
              </dx-button>
            </div>
          </div>
        </div>
        <hr>
        <div class="d-block">
          <mat-form-field appearance="outline" class="col-6 d-inline-block">
            <mat-label>Tempo máximo</mat-label>
            <input matInput type="number" [value]="tempoMaximo">
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-6 d-inline-block">
            <mat-label>Intevalo mínimo</mat-label>
            <input matInput type="number" [value]="intervaloMinimo">
          </mat-form-field>
        </div>

        <div class="d-block">
          <div class="row">
            <div class="col-12">
              <dx-button
                icon="checklist"
                text="Validar Turmas"
                hint="Validar Aulas"
                (onClick)="onValidarTurmasClick()"
                class="w-100 footer-button">
              </dx-button>
            </div>
          </div>
        </div>

        <div class="d-block mt-2" *ngIf="notificacaoTurma">
          <div class="row">
            <div class="col-12">
              <dx-progress-bar
                [statusFormat]="format"
                [value]="progresso"
                [class.complete]="progresso == 100"></dx-progress-bar>
            </div>
          </div>
        </div>
      </mat-card-footer>

    </mat-card-content>

    <div class="divider d-inline-block"></div>

    <mat-card-content class="d-block" style="min-width: 700px;" [ngClass]="notificacoesOpened ? 'partial-grid' : 'complete-grid'">
      <mat-card-subtitle>Grade de Horários</mat-card-subtitle>
      <div class="mt-4">
        <samha-oferta-grid
          [matriz]="matriz"
          [aulasConflitantes]="aulasConflitantes"
          [turno]="formGroup.get('turno').value"
          [novaAula]="novaAula"
          [turmaName]="turmaControl.value?.nome"
          (onAulaIndexChange)="onAulaIndexChanged($event)"
          (onNovaAulaCreated)="onAulaChanged($event)"
          (onAulaDeleted)="onAulaDeleted($event)"
        ></samha-oferta-grid>
      </div>
      <hr>

      <samha-professor-grid [ofertaId]="oferta?.id"
                            [ano]="this.formGroup.get('ano').value"
                            [semestre]="this.formGroup.get('semestre').value"
                            [alocacao]="alocacaoSelecionada"></samha-professor-grid>

    </mat-card-content>
    <div class="divider d-inline-block" *ngIf="notificacoesOpened"></div>

      <mat-card-content class="d-block" style="width: 20%; height: inherit" *ngIf="notificacoesOpened; else notificacaoButton">
          <dx-button
            style="position: absolute; right: 0; border: none; z-index: 15"
            [icon]="'showpanel'"
            (onClick)="notificacoesOpened = false"
          >
          </dx-button>
        <dx-scroll-view [@pushInOut]>
        <mat-card-subtitle class="mt-3">
          <span>Notificações</span>
        </mat-card-subtitle>
          <!-- notificações normais -->
          <cdk-accordion class="example-accordion" *ngIf="!notificacaoTurma">
            <cdk-accordion-item
              *ngFor="let item of notificacoes; let index = index;"
              #accordionItem="cdkAccordionItem"
              class="example-accordion-item accordion-config"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-' + index"
              [attr.aria-expanded]="accordionItem.expanded"
              [attr.aria-controls]="'accordion-body-' + index">
              <div class="example-accordion-item-header notification w-100" (click)="accordionItem.toggle()">
                <p style="font-size: 10pt">{{ item.professor?.nome }}</p>
                <span class="example-accordion-item-description">
                  <span id="red" *ngIf="getQuantidadeNotificacao(item, 1) > 0">{{getQuantidadeNotificacao(item, 1)}}</span>
                  <span id="yellow" *ngIf="getQuantidadeNotificacao(item, 2) > 0">{{getQuantidadeNotificacao(item, 2)}}</span>
                  <span id="blue" *ngIf="getQuantidadeNotificacao(item, 3) > 0">{{getQuantidadeNotificacao(item, 3)}}</span>
                </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index">
                <div *ngFor="let mensagem of item.mensagens" style="border-radius: 5px;border: 1px solid {{mensagem.cor}}"
                     class="mb-2 p-1">
                  <span style="font-size: 10pt;font-weight: lighter; color: {{mensagem.cor}}">{{mensagem.titulo}}</span>
                  <p style="font-size: 8pt" *ngFor="let restricao of mensagem.restricoes">{{restricao}}</p>
                </div>
              </div>
            </cdk-accordion-item>
          </cdk-accordion>

          <!-- notificações agrupadas por turma-->
          <cdk-accordion class="example-accordion" *ngIf="notificacaoTurma; else loading">
            <cdk-accordion-item
              *ngFor="let itemTurma of notificacoes; let index = index;"
              #accordionItemTurma="cdkAccordionItem"
              class="example-accordion-item accordion-config"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-' + index"
              [attr.aria-expanded]="accordionItemTurma.expanded"
              [attr.aria-controls]="'accordion-body-' + index">
              <div class="example-accordion-item-header notification w-100" (click)="accordionItemTurma.toggle()">
                <p style="font-size: 10pt">{{ itemTurma.turma.nome }}</p>
                <span class="example-accordion-item-description">
                  <span id="red-turma" *ngIf="getQuantidadeNotificacaoTurma(itemTurma, 1) > 0">{{getQuantidadeNotificacaoTurma(itemTurma, 1)}}</span>
                  <span id="yellow-turma" *ngIf="getQuantidadeNotificacaoTurma(itemTurma, 2) > 0">{{getQuantidadeNotificacaoTurma(itemTurma, 2)}}</span>
                  <span id="blue-turma" *ngIf="getQuantidadeNotificacaoTurma(itemTurma, 3) > 0">{{getQuantidadeNotificacaoTurma(itemTurma, 3)}}</span>
                </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItemTurma.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index">
                <cdk-accordion class="example-accordion">
                  <cdk-accordion-item
                    *ngFor="let item of itemTurma.conflitos; let j = index"
                    #accordionItem="cdkAccordionItem"
                    class="example-accordion-item accordion-config"
                    role="button"
                    tabindex="1"
                    [attr.id]="'accordion-header-' + index + '-' + j"
                    [attr.aria-expanded]="accordionItem.expanded"
                    [attr.aria-controls]="'accordion-body-' + index + '-' + j">
                    <div class="example-accordion-item-header notification w-100" (click)="accordionItem.toggle()">
                      <p style="font-size: 10pt">{{ item.professor?.nome }}</p>
                    </div>
                    <div
                      class="example-accordion-item-body"
                      role="region"
                      [style.display]="accordionItemTurma.expanded ? '' : 'none'"
                      [attr.id]="'accordion-body-' + index + '-' + j"
                      [attr.aria-labelledby]="'accordion-header-' + index + '-' + j">
                      <div *ngFor="let mensagem of item.mensagens" style="border-radius: 5px;border: 1px solid {{mensagem.cor}}"
                           class="mb-2 p-1">
                        <span style="font-size: 10pt;font-weight: lighter; color: {{mensagem.cor}}">{{mensagem.titulo}}</span>
                        <p style="font-size: 8pt" *ngFor="let restricao of mensagem.restricoes">{{restricao}}</p>
                      </div>
                    </div>
                  </cdk-accordion-item>
                </cdk-accordion>
              </div>

            </cdk-accordion-item>
          </cdk-accordion>
        </dx-scroll-view>
      </mat-card-content>

    <ng-template #notificacaoButton>
      <div *ngIf="notificacoes.length > 0"
           class="notification-warning">
        !
      </div>
      <dx-button
        style="position: absolute; right: 0; border: none"
        [icon]="'hidepanel'"
        (onClick)="notificacoesOpened = true"
      ></dx-button>
    </ng-template>


  </mat-card>


  <ng-template #loading>
    <div class="loading-spinner" *ngIf="isNotificacaoTurmaLoading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
