<mat-toolbar class="sub-toolbar">
  <div class="d-flex justify-content-end w-100">
    <div class="spin" *ngIf="isGenerating">
      <div class="spinner-border text-success" role="status"></div>
    </div>
    <dx-button
      icon="pdffile"
      type="normal"
      [visible]="!isGenerating"
      text="Gerar Relatório de Disciplinas"
      (onClick)="gerarRelatorioDisciplinas()">
    </dx-button>
  </div>
</mat-toolbar>

<div class="base-padding">
  <dx-tabs
    [dataSource]="tabs"
    [selectedIndex]="0"
    (onItemClick)="selectTab($event)">
  </dx-tabs>

  <div *ngIf="selectedTab == 0">
    <samha-relatorio-professor></samha-relatorio-professor>
  </div>

  <div *ngIf="selectedTab == 1">
    <samha-relatorio-turma></samha-relatorio-turma>
  </div>
</div>

<dx-popup
  [(visible)]="showPopup"
  height="250"
  width="500"
  title="Gerar relatório de disciplinas">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-12 d-grid justify-content-center">
        <small>Este processo pode demorar, seja paciente!</small>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Ano</mat-label>
          <input matInput type="number" [formControl]="anoControl">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Semestre</mat-label>
          <input matInput type="number" [max]="2" [min]="1" [formControl]="semestreControl">
        </mat-form-field>
      </div>
    </div>
    <div class="row ">
      <div class="d-flex justify-content-center">
        <dx-button
          class="col-6"
          type="success"
          text="Confirmar"
          icon="download"
          (onClick)="onGerarClick()"
        >
        </dx-button>
        <span class="m-1"></span>
        <dx-button
          class="col-6"
          type="normal"
          text="Cancelar"
          icon="clear"
          (onClick)="onCancelarClick()"
        >
        </dx-button>
      </div>
    </div>
  </div>
</dx-popup>
