
<mat-card class="mat-elevation-z8 m-auto mt-5 col-11">
  <mat-card-title class="fw-lighter">
    <mat-toolbar color="accent">Cadastro de Professores</mat-toolbar>
  </mat-card-title>
  <mat-card-content class="mt-5 card-width">
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="d-block">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome">
      </mat-form-field>
      <mat-form-field appearance="outline" class="d-block">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="d-block">
        <mat-label>Matrícula</mat-label>
        <input type="text" matInput formControlName="matricula">
      </mat-form-field>
      <mat-form-field appearance="outline" class="d-block">
        <mat-label>Carga Horária</mat-label>
        <input type="number" matInput formControlName="carga_horaria">
        <mat-hint *ngIf="form.get('carga_horaria').invalid && form.get('carga_horaria').touched">Mínimo 1 e máximo 99</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="d-block">
        <mat-label>Coordenadoria</mat-label>
        <mat-select formControlName="coordenadoria" *ngIf="coordenadoria$ | async as coordenadorias; else loadingCoord;">
          <mat-option *ngFor="let coord of coordenadorias" [value]="coord.id">
            {{coord.nome}}
          </mat-option>
        </mat-select>
        <ng-template #loadingCoord>
          <mat-select [disabled]="true"></mat-select>
        </ng-template>
      </mat-form-field>
      <mat-checkbox formControlName="ativo">Ativo</mat-checkbox>
    </form>
    <mat-card-actions class="d-flex justify-content-end">
      <button mat-button (click)="salvar()">Salvar</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="showRestrictions">
    <samha-restricao-list [professorId]="professor.id"></samha-restricao-list>
</ng-container>
