<ng-template #loading>
  <div class="loading-spinner m-auto">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
<ng-container *ngIf="loading$ | async; else loading">
  <samha-toolbar (sideBarClicked)="onSideBarClicked()"></samha-toolbar>
  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
      <mat-card>
        <button (click)="onBotaoProfessorClick()" mat-button class="w-100 h-100">
          <mat-icon>person</mat-icon>
          Professores
        </button>
      </mat-card>
      <mat-card>
        <button (click)="onBotaoCoordenadoresClick()" mat-button class="w-100 h-100">
          <mat-icon> person_pin</mat-icon>
          Coordenadores
        </button>
      </mat-card>
      <mat-card>
        <button (click)="onBotaoAlocacaoClick()" mat-button class="w-100 h-100">
          <mat-icon>link</mat-icon>
          Alocações
        </button>
      </mat-card>
      <mat-card>
        <button (click)="onBotaoDisciplinaClick()" mat-button class="w-100 h-100">
          <mat-icon>library_books</mat-icon>
          Disciplinas
        </button>
      </mat-card>
    </mat-sidenav>
    <mat-sidenav-content>
      <div *ngIf="selectedMenu == 1">
        <samha-table [resource]="'professor'" [columns]="columns"></samha-table>
      </div>
      <div *ngIf="selectedMenu == 2">
        <samha-table [resource]="'coordenador'" [columns]="columns"></samha-table>
      </div>
      <div *ngIf="selectedMenu == 3">
        <samha-table [resource]="'alocacao'" [columns]="columns"></samha-table>
      </div>
      <div *ngIf="selectedMenu == 4">
        <samha-table [resource]="'disciplina'" [columns]="columns"></samha-table>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
