mat-sidenav-container{
  height: 100%;
}

mat-sidenav{
  background-color: white;
  width: 250px;
}

mat-sidenav-content{
  background-color: rgb(0,153,102);
}

button{
  display: block;
}

.loading-spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.15);
  height: 100vh;
}
