<mat-card class="mb-5 margem">
  <mat-card-title class="m-2 mb-3">Filtro</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <samha-autocomplete-field
        [resource]="'curso'"
        [label]="'Curso'"
        [control]="cursoControl"
        (onChange)="onCursoChange($event)"></samha-autocomplete-field>
      <mat-form-field appearance="outline" class="d-block">
        <mat-label>Matriz Curricular</mat-label>
        <mat-select *ngIf="matriz$ | async as matrizes; else loading" formControlName="matriz" [compareWith]="compareFunction">
          <mat-option *ngFor="let matriz of matrizes.listMap" [value]="matriz" (onSelectionChange)="onMatrizChanged($event)">{{matriz.nome}}</mat-option>
        </mat-select>
        <ng-template #loading>
          <mat-select [disabled]="true"></mat-select>
        </ng-template>
      </mat-form-field>

      <mat-form-field appearance="outline" class="d-block" *ngIf="showPeriodo">
        <mat-label>Período</mat-label>
        <input matInput type="number" formControlName="periodo" min="1" [max]="qtPeriodos" (change)="onFilterChange(false)">
      </mat-form-field>
    </form>
    <button mat-button class="filter-button" (click)="clearFilters()">Limpar</button>
  </mat-card-content>
</mat-card>
<samha-table [resource]="'disciplina'" [columns]="disciplinaColumns" [toolbarHeader]="'Disciplinas'" [filterChange]="filterChange" (onSelectedRow)="onSelectedRow($event)"></samha-table>
