.loading-spinner{
  display: flex;
  justify-content: center;
  background-color: white;
  height: 200px;
}

.mat-card {
  overflow-x: scroll;
}

.mat-row,
.mat-header-row {
  min-width: 1200px;
}

.mat-toolbar{
  min-width: 1183px;
}
